# Created by https://www.gitignore.io/api/windows
# Edit at https://www.gitignore.io/?templates=windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/windows

# SA:MP server files
announce*
samp03svr
samp-license.txt
samp-npc*
samp-server.exe
server.cfg
server-readme.txt
pawno/
include/
js/samp.js/Buffer.js
js/samp.js/Dater.js
js/samp.js/Event.js
js/samp.js/Events.js
js/samp.js/FileSystem.js
js/samp.js/GlobalObject.js
js/samp.js/GlobalTextDraw.js
js/samp.js/ListenSocket.js
js/samp.js/MySQL.js
js/samp.js/MySQLConnection.js
js/samp.js/Object.js
js/samp.js/Player.js
js/samp.js/PlayerObject.js
js/samp.js/Players.js
js/samp.js/PlayerTextDraw.js
js/samp.js/Publics.js
js/samp.js/Server.js
js/samp.js/Socket.js
js/samp.js/Sockets.js
js/samp.js/SQLString.js
js/samp.js/Vehicle.js
libmysql.dll
plugins/samp.js.dll
